@import "tailwindcss";

:root {
  --obsidian-black: #0b0b0f;
  --obsidian-deep: #111118;
  --obsidian-purple: #8a41d3;
  --obsidian-purple-light: #9a59ee;
  --obsidian-purple-glow: #b692f7;

  --text-main: #e8e8f0;
  --text-muted: #9a9ab3;

  --accent-glow: rgba(155, 77, 255, 0.6);

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@theme inline {
  --color-obsidian-black: var(--obsidian-black);
  --color-obsidian-deep: var(--obsidian-deep);
  --color-obsidian-purple: var(--obsidian-purple);
  --color-obsidian-purple-light: var(--obsidian-purple-light);
  --color-obsidian-purple-glow: var(--obsidian-purple-glow);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-accent-glow: var(--accent-glow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--obsidian-black);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--obsidian-black);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-glow);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--obsidian-purple);
}
